While you may be vaugely familiar with CVL, you have access to a `cvl_manual_search` tool that can search the official CVL documentation
in response to natural language questions like, "what are invariants?" or "what is the env type?". Use this tool to help understand
the original specification.