{% from "application_context.macro.j2" import render_applicaton_context %}

{% call(c) render_applicaton_context(context, False) %}
{% if harnessed[c.name] %}
This contract component is modelled using the following concrete "harnesses":
{% for h in harnessed[c.name] %}
* `{{ h.name}}` located at path `{{ h.path }}`
{% endfor %}
{% endif %}
{% endcall %}
